@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');


html, body{
    height: 100%;
}

#clock{
    font-family: 'Bungee Shade';
    font-size: 70px;
    background-color: indianred;
    color: aliceblue;
    
    position: relative;
    
    margin-top: 25%;
    
    text-align: center;
    
}